.theme-toggle {
    position: fixed;
    top: 0px;
    right: 2px;
    cursor: pointer;
    width: fit-content;
    z-index: 1000100;
}

.theme-toggle:hover {
    transform: rotate(5deg);
}

.theme-toggle-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}