
li {
    list-style: none;
}

.bqe-random-quiz-page {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.bqe-question-container {
    width: min(90vw, 500px);
    margin: 0px auto 50px;
    padding: 5%;
    border: 2px solid var(--bran-colors-edge);
    color: var(--bran-colors-font-primary); 
    display: flex;
    flex-direction: column;
}

.bqe-pre-quiz {
    display: flex;
    flex-direction: column;
}

.bqe-clickable-verse {
    text-decoration: underline;    
}
.bqe-clickable-verse:hover {
    cursor: pointer;
}

.bqe-quiz-instructions {
    width: fit-content;
    /* color: #445; */
    margin: 20px auto;
    text-align: center;
}

.bqe-quiz-meta-section {
    width: min(90%, 400px);
    min-height: 40px;
    margin: 50px auto 10px;
    display: flex;
    flex-direction: column;
}

.bqe-quiz-meta-question {
    width: fit-content;
    margin: 0px auto;
    text-align: center;
    font-size: 14px;
}

.bqe-quiz-meta-score {
    width: fit-content;
    margin: 0px auto;
    text-align: center;
    font-size: 26px;
}

.bqe-quiz-score {
    width: 90%;
    color: #445;
    margin: 3px auto;
    text-align: center;
    font-size: 10px;
    display: flex;
    flex-direction: row;
}
.bqe-quiz-score-label {
    width: 150px;
    margin: auto 20px;
    text-align: right;
    color: #001;
}
.bqe-quiz-score-number {
    color: #001;
    font-weight: bold;
    margin: 0px auto 0px 0px;
    text-align: left;
    font-size: 11px;
}

.bqe-quiz-start {
    width: calc(min(50%, 200px) + 16px);
    padding: 10px;
    font-size: 14px;
    margin: 30px auto 0px auto;
    @apply bg-contentBg text-defaultText border-2 rounded border-accent-300 shadow-lg shadow-black text-lg;
}
.bqe-quiz-start:hover {
    cursor: pointer;
    @apply bg-accent-500 text-accentText shadow-xl shadow-black text-lg;
}

.bqe-show-score {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bqe-score {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 5px auto;
}
.bqe-score-answer {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 12px auto 5px;
}
.bqe-scores {
    overflow-y: scroll;
    max-height: 50vh;
    @apply border-2 border-gray-700 rounded p-2;
}
.bqe-correct-heading {
    font-weight: bold;
    font-size: 12px;
    /* color: #113; */
    margin: 20px 0px 4px;
    padding-bottom: 6px;
    border-bottom: 2px solid var(--bran-colors-edge);

}

.bqe-score-row {
    display: flex;
    flex-direction: row;
    margin:auto;
    width: 80%;
    font-size: 14px;
}
.bqe-score-row-label {
    width: 50%;
    /* font-size: 16px; */
    text-align: right;
}

.bqe-score-correct {
    margin-left: 10px;
    color: rgb(23, 146, 115);
    font-weight: bold;
    width: 50%;
    text-align: center;
}
.bqe-score-incorrect {
    margin-left: 10px;
    color: rgb(159, 33, 33);
    width: 50%;
    text-align: center;
}

.bqe-guess {
    font-size: 18px;
    font-weight: bold;
    margin: -1.5px 3px 0px;
}


.bqe-next-question-restart {
    width: calc(min(50%, 200px) + 16px);
    border: 3px solid #828282;
    padding: 10px;
    font-size: 14px;
    color: rgb(8, 8, 8);
    font-weight: bold;
    margin: 30px 0px 0px auto;
    background-color: #ffffff;
}
.bqe-next-question-restart:hover {
    cursor: pointer;
    background-color: #f2f2f2;
    border-color: #454545;
}
.bqe-restart-section {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.bqe-restart-score {
    font-size: 22px;
    font-weight: bold;
    margin: 34px 0px 0px auto;
}

.bqe-quiz-report-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}