@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply flex flex-col m-0 p-0 bg-defaultBg text-defaultText;
  font-family: 'BlinkMacSystemFont', -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

h1 {
    @apply text-2xl font-bold my-[min(40px,6vw)];
}

h2 {
    @apply text-xl font-bold mt-10 mb-5;
}

h3 {
    @apply text-base font-bold mt-5 mb-1;
}

p {
    @apply mt-[min(1rem,1vw)] mb-[min(.75rem,1vw)] px-5;
}

hr {
    @apply my-10;
}

label {
    @apply mt-[min(40px,8vw)] mb-2 font-bold text-sm;
}

input {
    @apply bg-inputBg rounded p-2 font-bold text-sm;
}

textarea {
    @apply bg-inputBg p-2 text-sm rounded;
}

select {
    @apply bg-inputBg rounded p-2 font-bold text-sm;
}

a {
    @apply text-accent-300 font-bold;
}

button {
    @apply bg-inputBg rounded px-4 py-2 font-bold text-sm text-defaultText;
}

button:hover {
    @apply bg-inputHoverBg;
}

li {
    list-style: none;
    @apply text-sm my-1;
}

.church-lunch-box {
    background-image: url('./assets/churchLunch.png');
    background-size: 120%;
    background-position: top;
    background-repeat: no-repeat;
    @apply border-2 rounded-lg border-gray-700;
}
.church-lunch-box:hover {
    background-size: 180%;
}

.smoke-box {
    background-image: url('./assets/smoke.png');
    background-size: 120%;
    background-position: top;
    background-repeat: no-repeat;
    @apply border-2 rounded-lg border-gray-700;
}
.smoke-box:hover {
    background-size: 150%;
    background-position: center;
}

.poker-pilot-box {
    background-image: url('./assets/PokerPilotLogo.png');
    background-size: 100%;
    background-position: left;
    background-repeat: no-repeat;
    @apply border-2 rounded-lg border-gray-700;
}
.poker-pilot-box:hover {
    background-size: 150%;
    background-position: center;
}

.rl-predict-box {
    background-image: url('./assets/Bracket-SS.png');
    background-size: 100%;
    background-position: left;
    background-repeat: no-repeat;
    @apply border-2 rounded-lg border-gray-700;
}
.rl-predict-box:hover {
    background-size: 150%;
    background-position: center;
}

.baseball-box {
    background-image: url('./assets/baseball.png');
    background-size: 100%;
    @apply border-2 rounded-lg border-gray-700;
}
.baseball-box:hover {
    background-size: 130%;
}

.text-outlined {
    -webkit-text-stroke: 1px #555555;
}

.text-outlined-dark {
    -webkit-text-stroke: 1px #111111;
}

@keyframes tumble {
    0% {
      transform: translateX(0vw) rotate(0deg);
    }
    70% {
      transform: translateX(69vw) rotate(1086deg);
    }
    71% {
      transform: translateX(70vw) translateY(20px) rotate(1080deg);
    }
    72% {
      transform: translateX(71vw) translateY(0px) rotate(1080deg);
    }
    99% {
      transform: translateX(78vw) rotate(1080deg);
    }
    100% {
      transform: translateX(95vw) rotate(1080deg);
    }
}

.card-animation {
    position: absolute;
    animation: tumble 4.2s linear normal;
    z-index: 9999999;
}
.card-animation2 {
    position: relative;
    left: -24px;
    animation: tumble 4.3s linear normal;
    z-index: 9999999;
}
